In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn. linear_model import LinearRegression

In [16]:
url = 'https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/King_County/kingCountyHouseData.csv'
df = pd.read_csv(url)
# Selecting columns I am interested in
columns = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','price']
df = df.loc[:, columns]
df.head(10)

   bedrooms  bathrooms  sqft_living  sqft_lot  floors      price
0         3       1.00         1180      5650     1.0   221900.0
1         3       2.25         2570      7242     2.0   538000.0
2         2       1.00          770     10000     1.0   180000.0
3         4       3.00         1960      5000     1.0   604000.0
4         3       2.00         1680      8080     1.0   510000.0
5         4       4.50         5420    101930     1.0  1225000.0
6         3       2.25         1715      6819     2.0   257500.0
7         3       1.50         1060      9711     1.0   291850.0
8         3       1.00         1780      7470     1.0   229500.0
9         3       2.50         1890      6560     2.0   323000.0

In [17]:
features = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors']
X = df.loc[:, features]
y = df.loc[:, ['price']]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .75)

In [19]:
reg = LinearRegression (fit_intercept=True)
# Train the model on the training set.
reg.fit(X_train, y_train)

LinearRegression()

In [20]:
score = reg. score (X_test, y_test) 
print (score)

0.5028786077192527